body{
    background-color: #C5B2E2;
    padding: 40px 80px;
    padding-bottom: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main{
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 85vh;
    justify-content: space-around;
    padding: 20px;
}

section{
    border: 1px solid red;
}

#textIn{
    width: 90%;
    height: 80%;
}

#textToCrypt{
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    resize: none;
    
}

.textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
}

#decrypt{
    background: #916fcc;
    border-radius: 15px;
    max-width: 500px;
    
}
#copy{
    margin-bottom: 20px;
}
