:root {
    --color-bg: #976bc9;
    --color-logo: #e5c5ff;
    --color-second: #613897;
    --color-fourth: #c7a9ff;
    --color-first: #d9abff93;
    --color-third: #976bc950;
    --color-light-text: #ab8bda;
    --color-dark-text: #26134b;
    --color-light-area: #8756ca;
    --color-dark-area: #3e2764;
}

html:has(body):has(header):has(#theme-area):has(#theme:checked):root {
    --color-bg: #e5c5ff;
    --color-logo: #976bc9;
    --color-second: #b383e9;
    --color-first: #e5c5ff;
    --color-third: #976bc9;
    --color-light-text: #e5c5ff;
    --color-dark-text: #976bc9;
    --color-light-area: #e5c5ff;
    --color-dark-area: #976bc9;
}

body {
    background-color: var(--color-bg);
    padding: 3dvh 80px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main {
    align-self: center;
    width: 75vw;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 80dvh;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    background-color: var(--color-second);
    border-radius: 15px;

}

#logo {
    fill: var(--color-logo);
}

/* Inicio estilo switch crypt/decrypt */
.switch {
    display: flex;
    align-items: center;
}

#switch {
    align-self: flex-start;
    margin: 20px;
}

.switch input {
    display: none;
}

.toggle {
    display: flex;
    align-items: center;
    width: 60px;
    height: 35px;
    background-color: var(--color-light-area);
    border-radius: 17px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.2s;

}

.round {
    width: 25px;
    height: 25px;
    background-color: var(--color-dark-area);
    border-radius: 50%;
    transition: 0.2s;
    display: flex;
    justify-content: center;
}

.toggle:active .round {
    flex-grow: .6;
}

input:checked+.toggle {
    background: var(--color-dark-area);
    display: flex;
    justify-content: end;
}

input:checked+.toggle>.round {
    background: var(--color-light-area);
}

.svg {
    align-self: center;
}

#moon {
    display: initial;
    fill: var(--color-light-area);
}

input:checked+.toggle>div>#moon {
    display: none;
}

#sun {
    display: none;
}

input:checked+.toggle>div>#sun {
    display: initial;
}

#locked {
    display: none;
    fill: var(--color-dark-area);
}

input:checked+.toggle>div>#locked {
    display: initial;
}

#unlocked {
    display: initial;
    fill: var(--color-light-area);
}

input:checked+.toggle>div>#unlocked {
    display: none;
}

section:has(.textarea):has(#switch):has(input:checked) {
    #crypt #textIn #textToCrypt {
        background-color: var(--color-dark-area);
        color: var(--color-light-text);
    }

    #textIn textarea::placeholder {
        color: var(--color-light-text);
    }

    ~section>#decrypt {
        background-color: var(--color-dark-area);
        #mostrarError{
            background-color: var(--color-light-area);
            p{
                color: var(--color-dark-text);
            }
        }
        p {
            color: var(--color-light-text);
        }

        #containerMessage #notFound {
            fill: var(--color-light-area);
        }

        #copy {
            background-color: var(--color-light-area);
            color: var(--color-dark-text);
            stroke: var(--color-dark-text);
        }
    }
}

/* Fin */

/*Inicio estilo textarea para encriptar*/
#textIn {
    width: 90%;
    height: 80%;
}

#textToCrypt {
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: var(--color-light-area);
    border-radius: 20px;
    font-size: 25px;
    resize: none;
    color: var(--color-dark-text);
}

#textToCrypt::placeholder {
    color: var(--color-dark-text);
}

/* Fin*/
/* Inicio estilo mensaje advertencia */
#textoAdvertencia p {
    color: var(--color-light-text);
    font-size: 20px;
}

/* Fin*/
/* Inicio estilo general de las areas de encriptado */

.textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* Fin */
/* Inicio estilo area de resultados */
#decrypt {
    background: var(--color-light-area);
    border-radius: 15px;
    max-width: 400px;
    padding: 15px;
    box-sizing: border-box;

    p {
        color: var(--color-dark-text);
    }

    #textOut {
        font-size: 20px;
    }
}
#mostrarError{
    padding: 10px;
    border-radius: 15px;
    background: var(--color-dark-area);
    p{
        color: var(--color-light-text);
    }
}

#containerMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    #notFound {
        fill: var(--color-dark-area);
    }
}

#botonCopiar {
    align-self: flex-start;
    display: flex;
    #copy {
        width: 40px;
        height: 40px;
        background-color: var(--color-dark-area);
        border-radius: 50%;
        border: none;
        color: var(--color-light-text);
        stroke: var(--color-light-text);
        text-align: center;
        text-decoration: none;
        font-size: 16px;
    }
    #copy:active{
        background-color: ;
    }
}

/* Fin */