body{
    background-color: #C5B2E2;
    padding: 40px 80px;
    padding-bottom: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main{
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 85vh;
    justify-content: space-around;
    padding: 20px;
}

section{
    border: 1px solid red;
}
/* Inicio estilo switch crypt/decrypt */
.switch{
    display: flex;
}
#switch{
    align-self: flex-start;
    margin: 20px;
}
.switch input{
    display: none;
}
.toggle{
    display: flex;
    align-items: center;
    width: 60px;
    height: 35px;
    background-color: black;
    border-radius: 17px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.2s;
    
}
.toggle::before{
    content: '';
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
    position: relative;
}
input:checked + .toggle{
    background: yellowgreen;
    display: flex;
    justify-content: end;
    
}
.toggle:active:before{
    flex-grow: .7;
}
#locked{
    position: fixed;
    justify-self: start;
    
}
input:checked + .toggle > #locked{
    display: none;
}
#unlocked{
    display: none;
}
input:checked + .toggle > #unlocked{
    display: block;
    position: fixed;
    justify-self: start;
    
}

/* */

/*Inicio estilo textarea para encriptar*/
#textIn{
    width: 90%;
    height: 80%;
}

#textToCrypt{
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    resize: none;
}
/* Fin*/
/* Inicio estilo general de las areas de encriptado */
.textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
}
/* Fin */
/* Inicio estilo area de resultados */
#decrypt{
    background: #916fcc;
    border-radius: 15px;
    max-width: 500px;
    
}
#copy{
    margin-bottom: 20px;
}
/* Fin */
